/build/
/out/
/.idea/
/*.iml
.gradle/
.gradle/
*.log
*.class
*.jar
*.war
.DS_Store
/target/
*.iml
/.classpath
/.project
/.settings/
.vscode/
/.settings/

# Uploaded files
uploads/**
!uploads/.gitkeep
